.container-fluid(ng-controller='mainController')
  div(ui-layout="{flow:'column'}")
    div(ui-layout-container max-size='250px' size='0px')
      div(ng-include="'views/app/controlBox'")
    div(id='mapHolder' ui-layout-container)
      div(ui-layout="{flow:'row'}")
        div(id='map' ui-layout-container size='70%')
          div(ng-include="'views/app/map'")
        div(ui-layout-container size='30%')
          div(ng-include="'views/app/tableTabs'")
    div(ui-layout-container max-size='350px' size='350px')
      div(ng-include="'views/app/details'")
      div(ng-include="'views/app/resultsBox'")
