.container-fluid(ng-controller='mainController')
    div(ui-layout="{'flow':'column'}")
        div(ui-layout-container, max-size="250px", size="250px")
            div(ng-include="'views/app/controlBox'")
        div(ui-layout-container, id="mapHolder")
            div(ui-layout="{'flow':'row'}", onresize="resizeTable()")
                div(ui-layout-container, size='70%', id="map")
                    div(ng-include="'views/app/map'")
                div(ui-layout-container, size='30%')
                    div(ng-include="'views/app/tableTabs'")
        div(ui-layout-container, max-size="350px", size="350px")
            div(ng-include="'views/app/details'")
            //
                div(ng-include="'views/app/resultsBox'")
