extends layout

block content
	div(ng-controller='indexController')
		.navbar.navbar-inverse
			a.navbar-brand(href='#') Geo Event Query by Example'
			div.navbar-right
				logout
				nb-settings

		div(ng-view)

block scripts
	script(src='/javascripts/controllers/indexController.js')
	script(src='/javascripts/directives/app/percentHeight.js')
	script(src='/javascripts/services/app/shapeService.js')
	script(src='/javascripts/services/app/markerService.js')
	script(src='/javascripts/directives/app/map.js')
	script(src="/javascripts/component/app/geoxml3.js")
	script(src='/javascripts/controllers/app/mainController.js')
	script(src='/javascripts/controllers/app/tabsController.js')
	script(src='/javascripts/controllers/app/resultsTabController.js')
	script(src='/javascripts/controllers/app/resultsController.js')
	script(src='/javascripts/controllers/app/runTabController.js')
	script(src='/javascripts/controllers/app/detailsController.js')

