body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/*
ui-layout has a bug when browser is resized after panel expansion.
for now, hide the arrows.
*/
span.ui-splitbar-icon {
  display:none;
}

#account-form-container {
    width: 460px;
    margin: 100px auto;
}

.modal-form-errors li {
    color: #808080;
    color: #d8000c;
}

.modal-single-input {
    width: 452px;
    margin: -200px 0 0 -232px;
}

.modal-single-input form {
    color: #808080;
    margin-bottom: 0;
}

.modal-single-input form button {
    width: 80px;
    top: 213px;
    position: absolute;
}

.modal-single-input form #cancel {
    right: 110px;
}

.modal-single-input form #submit {
    right: 18px;
}

.modal-single-input .modal-body {
    height: 140px;
    overflow: hidden;
    padding-bottom: 0;
}

.modal-single-input .modal-footer {
    height: 20px;
}

.modal-alert {
    width: 310px;
    margin: -200px 0 0 -150px;
}

#btn-logout {
    width: 100px;
    top: 1px;
    right: 8px;
    position: absolute;
}

#print {
    padding: 20px;
}

#four04 {
    padding: 20px;
}

.clear-fix {
    clear: both;
}

.well {
    margin-left: 0;
    border: 1px solid #ccc;
}

.form-horizontal .control-label {
    width: 80px;
}

.form-horizontal .controls {
    margin-left: 120px;
}

.form-horizontal .form-actions {
    padding: 17px 0 0 270px;
}



.fill{
    width:100%;
    height:100%;
}

.fill-down{
    height:100%;
}

.fill-width{
    width:100%;
}

button i {
    padding-left: 8px;
}
.mapHighlight{
    border:5px solid yellow;
}
