h2 Your cart
div(ng-controller='cartSummaryController')
	.alert.alert-warning(ng-show='cartData.length == 0') There are no products in your shopping cart.&nbsp
		a.alert-link(href='#/products') Click here to return to the catalogue
	div(ng-hide='cartData.length == 0')
		table.table
			thead: tr
				th Quanity
				th Item
				th.text-right Price
				th.text-right Subtotal
			tbody: tr(ng-repeat='item in cartData')
				td.text-center {{item.count}}
				td.text-left {{item.name}}
				td.text-right {{item.price | currency}}
				td.text-right {{(item.price * item.count) | currency}}
				td: button.btn.btn-sm.btn-warning(ng-click) Remove
			tfoot: tr
				td.text-right(colspan='3') Total:
				td.text-right {{total() | currency}}
		.text-center
			a.btn.btn-primary(href='#/products') Continue shopping
			a.btn.btn-primary(href='#/placeorder') Place order now

