style.
	.ng-invalid {
		background-color: lightpink;
	}

	.ng-valid {
		background-color: lightgreen;
	}

	span.error {
		color: red;
		font-weight: bold;
	}

h2 Check out now!
p Please enter your details, and we'll ship your goods right away!
form(name='shippingForm' novalidate)
	.well
		h3 Ship To
		.form-group
			label Name
			input.form-control(name='name' ng-model='data.shipping.name' required)
			span.error(ng-show='shippingForm.name.$error.required') Please enter a name
		.form-group
			label Street Address
			input.form-control(name='street' ng-model='data.shipping.street' required)
			span.error(ng-show='shippingForm.street.$error.required') Please enter a street address
		.form-group
			label City
			input.form-control(name='city' ng-model='data.shipping.city' required)
			span.error(ng-show='shippingForm.city.$error.required') Please enter a city
		.form-group
			label State
			input.form-control(name='state' ng-model='data.shipping.state' required)
			span.error(ng-show='shippingForm.state.$error.required') Please enter a state
		.form-group
			label Zip
			input.form-control(name='zip' ng-model='data.shipping.zip' required)
			span.error(ng-show='shippingForm.zip.$error.required') Please enter a zip code
		.form-group
			label Country
			input.form-control(name='country' ng-model='data.shipping.country' required)
			span.error(ng-show='shippingForm.country.$error.required') Please enter a country
		h3 Options
		.checkbox
			label
				input(type='checkbox' name='giftwrap' ng-model='data.shipping.giftwrap')
				|Gift wrap these items
		.text-center
			button.btn.btn-primary(ng-disabled='shippingForm.$invalid' ng-click='sendOrder(data.shipping)') Complete Order


