div.container-full.fill
   div.row.fill
      div.col-lg-9.fill-down
         ng-include.fill-down(src="'views/app/map'")
      div.col-lg-3.fill-down
         ng-include.fill-down(src="'views/app/details'")