div.tabs(id="tabs" ng-controller="tabsController")
   ul.tab-links
      li(ng-repeat="tab in tabs" ng-class="{active:isActiveTab(tab.url)}" ng-click="onClickTab(tab)")
         a {{tab.title}}
   div( id="mainView")
      div(id="controlBox" class="tab-content" ng-include="currentTab")

script(type="text/ng-template" id="one.tpl.html")
   div.tab( id="viewOne" ng-controller="resultsTabController")
      div.container-fluid
         div.row
            div.col-lg-4
               | Polygon Files: &nbsp &nbsp
               select.input-xs(name="polygonSelect" id="polygonSelect")
                  option( ng-repeat="item in polygonFiles" value="{{item}}") {{item}}
               button.btn.btn-default.btn-xs.glyphicon.glyphicon-refresh(ng-click='populatePolygonSelect()' title="Refresh file list.")
               button.btn.btn-default.btn-xs.glyphicon.glyphicon-pencil(ng-click="drawPolygonFile()" title="Draw polygons to the map.")

            div.col-lg-4
               |Clear:&nbsp &nbsp
               button.btn.btn-default.btn-xs(ng-click="clearResults()") Results
               button.btn.btn-default.btn-xs(ng-click="clearShapes()") Shapes
               button.btn.btn-default.btn-xs(ng-click="clearMarkers()") Markers
               button.btn.btn-default.btn-xs(ng-click="clearAll()") All
         div.row
            div.col-lg-4
               |Score Files:&nbsp &nbsp
               select.input-xs( name="scoreSelect" id="scoreSelect")
                  option( ng-repeat="item in scoreFiles" value="{{item}}") {{item}}
               button.btn.btn-default.btn-xs.glyphicon.glyphicon-refresh(ng-click="popScore()" title="Refresh file list.")
               button.btn.btn-default.btn-xs.glyphicon.glyphicon-pencil(ng-click="gatherScores()" title="Load scores.")
            div.col-lg-4

         div.row
            div.col-lg-4
               | Max Points:
               input( id="sMaxEntries" value="-1" style="width:40px")
         div.row
            div.col-lg-4
               label(for='aggScores')
               input(type="checkbox" checked=true id="aggScores" name="aggScores")
               | Bin by Lat-Lon
            div.col-lg-4
               label(for="sBinSize")
                  |Bin Size:&nbsp &nbsp
                  input(type="text" id="sBinSize" value=".005")
         div.row
            div.col-lg-4
               label(for='aggTime')
                  input( type="checkbox" id="aggTime" name="aggTime")
                  | Bin as time series
            div.col-lg-4
               label(for='uniqueUser')
                  input(type="checkbox" id="uniqueUser")
                  | Count only unique users

script( type="text/ng-template" id="two.tpl.html")
   div.tab( id="viewTwo" ng-controller="runTabController")
      table( style="width:100%")
         tr
            td
               b Data Set
            td
               select(id="dataSetSelect" onchange="newCenter()")
                  option( ng-repeat="item in dataSets" value="{{item}}") {{item}}
            td
               a(href="http://scc.silverdale.dev:7180/cmf/home" target="_blank" style="target-new: tab;") View Progress
         tr
            td
               button.btn.btn-default.btn-xs(ng-click="saveList()") Save Polygon File
            td
               input(type="text" id="pSavePath" readonly="True" disabled)
            td
               input( type="text" id="pFileName" value="polyFile.txt")
         tr
            td
               button.btn.btn-default.btn-xs(ng-click="applyScores()") Apply Scores
            td
               input(id="sFileName" value="scores.csv")
            td
               div(id="rankReturnInput") Return top:
                  input(id="sTopN" value="300" style="width:50px")
               div( id="percentReturnInput" class="invis") Return Percent:
                  input( id="sTopPercent" value="0.0001" style="width:50px")
         tr
            td
               label(for='bAdvanced')
                  input( type="checkbox" id="bAdvanced" ng-click="toggleAdv()")
                  | Show Advanced Options
         tr(id="hr1" class="invis")
            td
               label(for='bPercent')
                  input(type="checkbox" id="bPercent" ng-click="modReturn()")
                  | Limit Return by Percent
         tr( id="hr4" class="invis")
            td
               label(for='useML')
                  input(type="checkbox" checked=true id="useML")
                  | Use M.L. Scoring
            td Feature Vector Max Length
            td
               input( type="text" id="nFeat" value="300")
         tr( id="hr5" class="invis")
            td
               label(for='useBayes')
                  input( type="checkbox" id="useBayes")
                  | Sort by Bayes (when ML)
         tr( id="hr3" class="invis")
            td
               label(for='timeSeries')
                  input( type="checkbox" id="timeSeries")
                  | Time Series polygon

         tr( id="hr2" class="invis")
            td Custom Stop Words
            td
               input( type="text" id="cStopW")
script( type="text/ng-template" id="three.tpl.html")
   div.tab( id="viewThree" ng-controller="testTabController")
      table( style="width:100%")
         tr
            td
               button.btn.btn-default.btn-xs(ng-click="launchTest()") Cross Validate
            td
               input( type="text" id="tFileName" value="testSummary.csv")
            td
               a(href="http://scc.silverdale.dev:7180/cmf/home" target="_blank" style="target-new: tab;") View Progress
         tr
            td
               button.btn.btn-default.btn-xs(ng-click="gatherTest()") Get Results
            td Mean:
               input( id="inMean" type="text" readonly="True" value="Test Mean" style="width:65px")
            td Variance:
               input( id="inVar" type="text" readonly="True" value="Test Var" style="width:60px")
