div.scrollable(ng-style="style" ng-controller="jobsTabsController")
  nav.navbar.navbar-default.navbar-inverse
     div.container-fluid
         ul.nav.navbar-nav
            li
              a(ng-click='clearResults()' title='Clear Results' href="#" user-log elementtype='BUTTON' loggroup='control_box' logtags='clear,data').navbar-button.btn-lg.glyphicon.glyphicon-th-list
            li
                a(ng-click='clearShapes()' title='Clear Shapes' href="#" user-log elementtype='BUTTON' loggroup='control_box' logtags='clear,shapes').navbar-button.btn-lg.glyphicon.glyphicon-unchecked
            li
                a(ng-click='clearMarkers()' title='Clear Markers' href="#" user-log elementtype='BUTTON' loggroup='control_box' logtags='clear,markers').navbar-button.btn-lg.glyphicon.glyphicon-map-marker
            li
                a(ng-click='clearAll()' title='Clear All' href="#" user-log elementtype='BUTTON' loggroup='control_box' logtags='clear,all').navbar-button.btn-lg.glyphicon.glyphicon-asterisk

  div.container-fluid
    div.row
      form.col-sm-12(ng-controller="dataSetController")
        div.form-group-sm
            label(for='dataSetSelect') Data Set
            span.pull-right
                button.btn.btn-default.btn-xs.glyphicon.glyphicon-refresh(ng-click='refreshAll()' title="Refresh file list." user-log elementtype='BUTTON' loggroup='run_tab' logtags='run,refresh,data_set_files')
            select.form-control(id="dataSetSelect" ng-options="item.name for item in dataSets | orderBy: item.name" ng-model="dataSetSelected" user-log elementtype='DROPDOWNLIST' loggroup='run_tab' logtags='run,select,data_set_files')
                option(value="") --Select--

        br
        div.form-group
            label(for='pFileName') Polygon Set
            div.input-group-sm
                select.form-control( ng-options="item.name for item in polygonFiles | orderBy:'name'" ng-model="polygonSetSelected")
                    option(value="") --Select--
            a.text-left(href="", data-toggle="collapse", data-target="#newPolySet")
                    | new polyset
            span.pull-right
                button.btn.btn-default.btn-xs.glyphicon.glyphicon-pencil(ng-click="showEditingTools()" ng-class="{'disabled': !polygonSetSelected, 'btn-info': editing }" title="Draw polygons to the map." user-log elementtype='BUTTON' loggroup='run_tab' logtags='draw,training_file')

            div.form-group.collapse(id="newPolySet")
                div.input-group
                    input.form-control(placeholder="name", ng-model="newPolySetName", id="newPolySetInput")
                    span.input-group-btn
                        button.btn.btn-default(ng-click="saveItem()" id="savePolygon" title="Save." user-log elementtype='BUTTON' loggroup='run_tab' logtags='refresh,training_file')
                            | Save
    br
    div.row
      div.col-sm-12(role="navigation")
         ul.nav.nav-tabs
            li(ng-repeat="tab in tabs" ng-class="{active:isActiveTab(tab.url)}" ng-click="onClickTab(tab)" user-log elementtype='TAB' loggroup='control_box' logtags='tab,{tab.title}', role="presentation")
                a(href="") {{tab.title}}
      div.col-sm-12( id="mainView" )
        div.col-sm-12.tab-content(id="controlBox")
            div.tab( id="one.tpl.html" ng-class="{hidden:!isActiveTab('one.tpl.html')}")
                form.col-sm-12(ng-controller="runTabController")
                   div.form-group
                            label(for='sFileName') Job Name:
                            input.form-control(ng-model="run.sFileName" id="sFileName" value="my-scores" user-log elementtype='TEXTBOX' loggroup='run_tab' logtags='query_job,name')
                   div.form-group
                       div.checkbox
                            label(for='bPercent')
                               input.form-control-sm(type="checkbox" ng-model="run.bPercent" id="bPercent" ng-click="modReturn()" user-log elementtype='CHECKBOX' loggroup='run_tab' logtags='query_job,limit_return_by_percent')
                               | Limit Return by Percent

                   div.form-group
                       div(id="rankReturnInput")
                                label(for='sTopN') Return top:
                                input.form-control(ng-model="run.sTopN" id="sTopN" user-log elementtype='TEXTBOX' loggroup='run_tab' logtags='query_job,top')

                   div.form-group
                       div( id="percentReturnInput" class="invis")
                                label(for='sTopPercent') Return Percent:
                                input.form-control(ng-model="run.sTopPercent" id="sTopPercent" )
                   div.form-group
                        label(for="cStopW") Custom Stop Words
                        input.form-control( type="text" ng-model="run.cStopW" id="cStopW" user-log elementtype='TEXTBOX' loggroup='run_tab' logtags='query_job,custom_stop_words')
                   div.form-group
                        div.radio
                            label
                                input(type ="radio" value="0" ng-model="run.useTimeSeries" user-log elementtype='RADIO' loggroup='run_tab' logtags='query_job,location')
                                | Query by Location
                        div.radio
                            label
                                input(type ="radio" value="1" ng-model="run.useTimeSeries" user-log elementtype='RADIO' loggroup='run_tab' logtags='query_job,event')
                                | Query by Event
                   button.form-control.btn.btn-default(ng-click="applyScores()" title='Start Query Job' user-log elementtype='BUTTON' loggroup='run_tab' logtags='query_job,start') Submit Query Job


            div.tab( id="two.tpl.html" ng-class="{hidden:!isActiveTab('two.tpl.html')}")
                form.col-sm-12(ng-controller="modelTabController")
                        div.form-group
                            label(for='sFileName') Job Name:
                            input.form-control(ng-model="run.sFileName" id="sFileName" value="my-scores" user-log elementtype='TEXTBOX' loggroup='run_tab' logtags='query_job,name')
                        div.form-group
                            label(for="cStopW") Custom Stop Words
                            input.form-control( type="text" ng-model="run.cStopW" id="cStopW" user-log elementtype='TEXTBOX' loggroup='run_tab' logtags='query_job,custom_stop_words')
                        div.form-group
                                div.radio
                                   label
                                      input( type ="radio" value="0" ng-model="run.useTimeSeries" user-log elementtype='RADIO' loggroup='run_tab' logtags='query_job,location')
                                      | Query by Location
                                div.radio
                                  label
                                      input( type ="radio" value="1" ng-model="run.useTimeSeries" user-log elementtype='RADIO' loggroup='run_tab' logtags='query_job,event')
                                      | Query by Event

                        button.form-control.btn.btn-default(ng-click="applyScores()" title='Start Query Job' user-log elementtype='BUTTON' loggroup='run_tab' logtags='query_job,start') Submit Modeling Job