div.scrollable.tabs(id="tabs" percent-Height percent='100'  ng-style="style" ng-controller="tabsController")

    nav.navbar.navbar-default.navbar-inverse
        a(ng-click='clearResults()' title='Clear Results' href="#" user-log elementtype='BUTTON' loggroup='control_box' logtags='clear,data').noselect.navbar-button.btn-lg.glyphicon.glyphicon-th-list.navbar-text
        a(ng-click='clearShapes()' title='Clear Shapes' href="#" user-log elementtype='BUTTON' loggroup='control_box' logtags='clear,shapes').noselect.navbar-button.btn-lg.glyphicon.glyphicon-unchecked.navbar-text
        a(ng-click='clearMarkers()' title='Clear Markers' href="#" user-log elementtype='BUTTON' loggroup='control_box' logtags='clear,markers').noselect.navbar-button.btn-lg.glyphicon.glyphicon-map-marker.navbar-text
        a(ng-click='clearAll()' title='Clear All' href="#" user-log elementtype='BUTTON' loggroup='control_box' logtags='clear,all').noselect.navbar-button.btn-lg.glyphicon.glyphicon-asterisk.navbar-text

    ul.nav.nav-tabs
        li(ng-repeat="tab in tabs" ng-class="{active:isActiveTab(tab.url)}" ng-click="onClickTab(tab)" user-log elementtype='TAB' loggroup='control_box' logtags='tab,{tab.title}')
            a {{tab.title}}

    div( id="mainView" )
        div.tab-content(id="controlBox")
            div.tab( id="one.tpl.html" ng-class="{hidden:!isActiveTab('one.tpl.html')}")
                div(ng-controller="runTabController")
                    div.form
                        div.form-group-sm
                            label(for='dataSetSelect') Data Set:
                                button.inputItem.btn.btn-default.btn-xs.glyphicon.glyphicon-refresh(ng-click='getDataSets()' title="Refresh file list." user-log elementtype='BUTTON' loggroup='run_tab' logtags='run,refresh,data_set_files')
                            select.form-control(id="dataSetSelect" ng-options="item for item in dataSets | orderBy: item" ng-model="dataSetSelected" user-log elementtype='DROPDOWNLIST' loggroup='run_tab' logtags='run,select,data_set_files')
                                  option(value="") --Select--
                        div.form-group-sm
                            div.input-group
                                label(for='pFileName') Polygon:
                                button.inputItem.btn.btn-default.btn-xs.glyphicon.glyphicon-refresh(ng-click="populatePolygonSelect()" title="Refresh file list." user-log elementtype='BUTTON' loggroup='run_tab' logtags='refresh,training_file')
                                button.inputItem.btn.btn-default.btn-xs.glyphicon.glyphicon-floppy-disk(ng-click="saveList()" title= "Save Polygon File" user-log elementtype='BUTTON' loggroup='run_tab' logtags='save,training_file')
                                button.inputItem.btn.btn-default.btn-xs.glyphicon.glyphicon-pencil(ng-click="drawPolygonFile()" title="Draw polygons to the map." user-log elementtype='BUTTON' loggroup='run_tab' logtags='draw,training_file')
                                div(style="display:inline-table; width:100%")
                                    div.input-group-btn
                                        button.btn.btn-sm.btn-default.dropdown-toggle(type="button", id="pFileDropButton", data-toggle="dropdown", aria-expanded="false" user-log elementtype='COMBOBOX' loggroup='run_tab' logtags='select,training_file')
                                            span.caret
                                        ul.scrollable-menu.dropdown-menu(role="menu", style="overflow:scroll")
                                            li(ng-repeat="item in polygonFiles | orderBy: item" ng-click="polyFileSelected(item)" value="{{item}}")
                                               a(href='#') {{item.name}}
                                    input.form-control(type="text" ng-model="polyFile" name="polyFile")
                        fieldset.scheduler-border
                            legend.scheduler-border Run Query Job
                            div.form-group-sm
                                label(for='sFileName') Job Name:
                                input.form-control(ng-model="run.sFileName" id="sFileName" value="my-scores" user-log elementtype='TEXTBOX' loggroup='run_tab' logtags='query_job,name')
                            div.form-group-sm
                                div(id="rankReturnInput")
                                    label(for='sTopN') Return top:
                                    input.form-control(ng-model="run.sTopN" id="sTopN" value="300" placeholder="300" user-log elementtype='TEXTBOX' loggroup='run_tab' logtags='query_job,top')
                            div.form-group-sm
                                div( id="percentReturnInput" class="invis")
                                    label(for='sTopPercent') Return Percent:
                                    input.form-control(ng-model="run.sTopPercent" id="sTopPercent" value="0.0001" placeholder="0.0001")

                            div(id="hr1" )
                                div.form-group-sm
                                    label(for='bPercent') Limit Return by Percent
                                    input.form-control-sm(type="checkbox" ng-model="run.bPercent" id="bPercent" ng-click="modReturn()" user-log elementtype='CHECKBOX' loggroup='run_tab' logtags='query_job,limit_return_by_percent')

                            div.form-group-sm
                                label(for="cStopW") Custom Stop Words
                                input.form-control( type="text" ng-model="run.cStopW" id="cStopW" user-log elementtype='TEXTBOX' loggroup='run_tab' logtags='query_job,custom_stop_words')

                            div( id="hr3" )
                                div.form-group-sm
                                    label Query by Location
                                      input.form-control-sm( style="margin-left: 5px;" type ="radio" value="0" ng-model="run.useTimeSeries" user-log elementtype='RADIO' loggroup='run_tab' logtags='query_job,location')
                                    br
                                    label Query by Event
                                      input.form-control-sm( style="margin-left: 5px;" type ="radio" value="1" ng-model="run.useTimeSeries" user-log elementtype='RADIO' loggroup='run_tab' logtags='query_job,event')

                            button.form-control.btn.btn-default(ng-click="applyScores()" title='Start Query Job' user-log elementtype='BUTTON' loggroup='run_tab' logtags='query_job,start') Start Job
                        fieldset.scheduler-border
                            legend.scheduler-border Get Training Data
                            div.form-group-sm
                                label(for='tFileName') Job Name:
                                input.form-control(ng-model="training.FileName" value="training" id="tFileName" user-log elementtype='TEXTBOX' loggroup='run_tab' logtags='training_job,name')
                            button.form-control.btn.btn-default(ng-click="applyTraining()" title='Get Training Data' user-log elementtype='BUTTON' loggroup='run_tab' logtags='training_job,start') Get Data
            div.tab( id="two.tpl.html" ng-class="{hidden:!isActiveTab('two.tpl.html')}")
                div(ng-controller="resultsTabController")
                    form
                        fieldset.scheduler-border
                            legend.scheduler-border Query Results
                            div.form-group-sm
                                label(for="scoreSelect") Job Name:
                                button.inputItem.btn.btn-default.btn-xs.glyphicon.glyphicon-refresh(ng-click="popScore()" user-log elementtype='BUTTON' loggroup='results_tab' logtags='results,score files,refresh'  title="Refresh file list.")
                                select.form-control( name="scoreSelect" id="scoreSelect" ng-options="item for item in scoreFiles | orderBy: item"  ng-model="getScoresModel.fileAppOut" user-log elementtype='DROPDOWNLIST' loggroup='results' logtags='score,select'  )
                                    option( value="") --Select--
                            div.form-group-sm
                                label(for="sMaxEntries")  Max Points:
                                input.form-control(type="number" id="sMaxEntries" ng-model="getScoresModel.maxOut" user-log elementtype='TEXTBOX' loggroup='results_tab' logtags='results,max entries' step="any" novalidate)
                            button.form-control.btn.btn-default(ng-click="getScores()" user-log elementtype='BUTTON' loggroup='results_tab' logtags='results,score files,show' title='Draw Scores to the map') Show Scores
                        fieldset.scheduler-border
                            legend.scheduler-border Training Results
                            div.form-group-sm
                                label(for="trainingSelect") Job Name:
                                button.inputItem.btn.btn-default.btn-xs.glyphicon.glyphicon-refresh(ng-click='populateTrainingSelect()' title="Refresh file list." user-log elementtype='BUTTON' loggroup='results_tab' logtags='results,training files,refresh' )
                                select.form-control(name="trainingSelect" ng-options="item for item in trainingFiles | orderBy: item" ng-model="trainingDataModel.fileAppOut" id="trainingSelect" user-log elementtype='DROPDOWNLIST' loggroup='results_tab' logtags='training,select')
                                    option(value="") --Select--
                                button.form-control.btn.btn-default(ng-click="drawTrainingData()" title='Draw training data to the map.' user-log elementtype='BUTTON' loggroup='results_tab' logtags='training files,show') Show Training Data

    table.table.table-striped
        thead
            tr
                th.edge
                    button.inputItem.btn.btn-default.btn-xs.glyphicon.glyphicon-refresh(ng-click="getJobStatus()" title="Refresh Job Status." user-log elementtype='BUTTON' loggroup='results_tab' logtags='jobs,refresh')
                    | Job Name
                th.edge Job Status
        tbody(ng:repeat="job in jobs")
            tr
                td.edge {{job.jobname}}
                td.edge {{job.status}}




