div(ng-controller="dataTableController" percent-Height percent='30' ng-style="style").scrollTable

   table.table.table-striped(st-table="displayedCollection" st-safe-src="rowCollection")
      thead
         tr
            th.mid(st-sort="usr") User Name
            th.mid(st-sort="cap") Caption
            th.mid(st-sort="datetime") Date
            th.mid(st-sort="lat") lat
            th.mid(st-sort="lon") lon
         tr.hidden
            th
               input(st-search="usr" placeholder="user filter" type="search").input-sm.form-control
            th
               input(st-search="cap" placeholder="caption filter" type="search").input-sm.form-control
            th
               input(st-search="date" placeholder="date filter" type="search").input-sm.form-control
            th
               input(st-search="lat" placeholder="lat filter" type="search").input-sm.form-control
            th
               input(st-search="lon" placeholder="lon filter" type="search").input-sm.form-control

      tbody
         tr(st-select-row="row" ng-click="rowClicked(row)" st-select-mode="single" ng-repeat="row in displayedCollection" ng-class="row.isSelected ? 'st-selected':''")
            td.mid {{row.usr }}
            td.mid {{row.cap}}
            td.mid {{row.datetime | date}}
            td.mid {{row.lat }}
            td.mid {{row.lon}}
