div.fill.starter(ng-controller='detailsController')
   div.fill(id='details')
      div.fill-width
         nav.fill-width
            h3 {{displayIndex}} of {{data.nTotal}} Items
            ul.pagination.resultsNav
               li(ng-click="previous()")
                  a(href="#" aria-label="Previous")
                     span( aria-hidden="true" ) &laquo;
               li(ng-click="next()")
                  a(href="#" aria-label="Next")
                     span( aria-hidden="true" ) &raquo;
      div.container-full
         div.row
            div.col-lg-1
            div.col-lg-10
               img.img-responsive.detailsImg(src="http://localhost:3000/images/blank.png")
            div.col-lg-1
         div.row
            div.col-lg-1
            div.col-lg-10
                  h3 {{currentItem.usr}}
                  p score: {{currentItem.sco}}
                  div.caption
                  p {{currentItem.cap}}
            div.col-lg-1
