div.fill.starter(ng-controller='detailsController')
   div.fill(id='details')
      div.fill-width
         nav.fill-width
            ul.pagination.resultsNav
               li(ng-click="previous()")
                  a(href="#" aria-label="Previous")
                     span( aria-hidden="true" ) &laquo;
               li(ng-click="next()")
                  a(href="#" aria-label="Next")
                     span( aria-hidden="true" ) &raquo;
      div.container-full
         div.row
            div.col-lg-1
            div.col-lg-10
               img.img-responsive.detailsImg(src="http://localhost:3000/images/blank.png")
            div.col-lg-1
         div.row
            div.col-lg-1
            div.col-lg-10
                  h3 {{currentItem.usr}}
                  div.caption
                  p Details or caption will go here.  This will be filled with useful information.
                  p
                     a.btn.btn-xs.btn-primary(href="#" role="button" ng-click="getUser()") Button
                     a.btn.btn-xs.btn-default(href="#" role="button" ng-click="next()") Button
            div.col-lg-1
