div.footer
   div.container-full
      div.row
         div.col-lg-7
            ng-include(src="'views/app/controlBox.jade'")
         div.col-lg-5
            ng-include(src="'views/app/resultsBox.jade'")