div.container-fluid(ng-controller='mainController')
    div.row
        div.col-md-2
            div(ng-include="'views/app/controlBox'")
        div.col-md-7
            div(ng-include="'views/app/map'")
            div(ng-include="'views/app/tableTabs'")
        div.col-md-3
            div(ng-include="'views/app/details'")
            div(ng-include="'views/app/resultsBox'")