div(id="resultsBox" percent-Height percent='50'  ng-style="style" ng-controller="resultsController").scrollTable
   b Results
   table.table.table-striped(st-table="displayedCollection" st-safe-src="rowCollection")
      thead
         tr
            th.mid(st-sort="term") Term
            th.mid(st-sort="rank") Rank
      tbody
         tr(st-select-row="row" ng-click="rowClicked(row)" st-select-mode="single" ng-repeat="row in displayedCollection" )
            td.mid {{row.term }}
            td.mid {{row.rank}}
