.modal-header
    h3 Settings
.modal-body
    div.container-fluid
        form(novalidate)#signup-form.well.span4
            div.row
                p.subheading User Settings
                fieldset
                    div.col-sm-6

                        .control-group
                            label.control-label(for='nameTextBox') Name
                            .controls
                                div.form-group.form-group-sm
                                    input#nameTextBox.form-control(type='text', ng-model='data.fullname')
                        .control-group
                            label(for='themeSelect') Themes
                            .controls
                                div.form-group.form-group-sm
                                    select#themeSelect.form-control(ng-model="data.themeName" ng-change='changeTheme()')
                                        option( ng-repeat="theme in themes"  ) {{theme.name}}

                    div.col-sm-6
                        .control-group
                            label.control-label(for='emailTextBox') Email
                            .controls
                                div.form-group.form-group-sm
                                    input#emailTextBox.form-control(type='text', ng-model='data.email')

            div.row
                p.subheading System Configuration


            div.row
                div.col-sm-6
                    .control-group
                        label.control-label(for='modelSavePathTextBox') Model Save Path
                        .controls
                            div.form-group.form-group-sm
                                input#modelSavePathTextBox.form-control(type='text', ng-model='data.modelSavePath')
            fieldset
            //
                div.col-sm-6
                    .control-group
                        label.control-label(for='serviceHostNameTextBox') Service Url
                        .controls
                            div.form-group.form-group-sm
                                input#serviceHostNameTextBox.form-control(type='text', ng-model='data.serviceHostName')
                div.col-sm-6
                    .control-group
                        label.control-label(for='servicePortTextBox') Port
                        .controls
                            div.form-group.form-group-sm
                                input#servicePortTextBox.form-control(type='text', ng-model='data.servicePort')
            div.row
                p The following require a page refresh.
                div.col-sm-6
                    .control-group
                        label.control-label(for='servicePortTextBox') Logging
                        .controls
                            div.form-group.form-group-sm
                                input#servicePortTextBox.form-control(type='checkbox', ng-model='data.userLoggingEnabled')
                div.col-sm-6
                    .control-group
                        label.control-label(for='servicePortTextBox') Logging Url
                        .controls
                            div.form-group.form-group-sm
                                input#servicePortTextBox.form-control(type='text', ng-model='data.userLoggingUrl')
div.modal-footer
    button.btn.btn-primary(ng-click="save()")
        | Save
    button.btn(ng-click="cancel()")
        | Cancel