.modal-header
    h3 Site Details
.modal-body
    form(novalidate)#signup-form.well.span4
        fieldset
            .control-group
                label.control-label(for='nameTextBox') Name
                .controls
                    input#nameTextBox.input-sm(type='text', ng-model='name')
            .control-group
                label.control-label(for='minDtTextBox') Minimum Date Time
                .controls
                    input#minDtTextBox.input-sm(type='date', ng-model='minDt')
            .control-group
                label.control-label(for='maxDtTextBox') Maximum Date Time
                .controls
                    input#maxDtTextBox.input-sm(type='date', ng-model='maxDt')

div.modal-footer
    button.btn(ng-click="delete()")
        | Delete
    button.btn(ng-click="cancel()")
        | Cancel
    button.btn.btn-primary(ng-click="save()")
        | Save

