.modal-header
    h3 Site Details
.modal-body
    form(novalidate)#signup-form.well.span4
        fieldset
            .control-group
                label.control-label(for='nameTextBox') Name
                .controls
                    input#nameTextBox.input-sm(type='text', ng-model='name')
            .control-group
                label.control-label(for='minDtTextBox') Date Range
                .controls
                    input#minDtTextBox.input-sm(type='date', ng-model='minDt')
                    input#maxDtTextBox.input-sm(type='date', ng-model='maxDt')
                    button.inputItem.btn.btn-default.btn-sm.glyphicon.glyphicon-plus(ng-click="addDateRange()" title="Refresh file list.")
                label.control-label(for='dateList') Dates
                    ul#dateList
                        li(ng-repeat="range in dateRanges" ) "{{range.min}} - {{range.max}}"

div.modal-footer
    button.btn(ng-click="delete()")
        | Delete
    button.btn(ng-click="cancel()")
        | Cancel
    button.btn.btn-primary(ng-click="save()")
        | Save

