div.scrollable.tabs(id="tabs" percent-Height percent='30'  ng-style="style" ng-controller="tableTabsController")

   ul.nav.nav-tabs
      li(ng-repeat="tab in tabs" ng-class="{active:isActiveTab(tab.url)}" ng-click="onClickTab(tab)" user-log elementtype='TAB' loggroup='control_box' logtags='tab,{tab.title}')
         a {{tab.title}}

   div
      div.tab-content
         div.tab( id="jobsTab" ng-class="{hidden:!isActiveTab('jobsTab')}")
            div
               table.table.table-striped(st-table="displayedCollection" st-safe-src="rowCollection")
                  thead
                     tr
                        th.mid(style="width:32px")
                           button.btn.btn-default.btn-xs.glyphicon.glyphicon-refresh(ng-click="getJobStatus()" title="Refresh Job Status." user-log elementtype='BUTTON' loggroup='results_tab' logtags='jobs,refresh')
                        th.mid(st-sort="jobname")
                           | Name
                        th.mid(st-sort="status") Status
                  tbody
                     tr(st-select-row="row" ng-click="rowClicked(row)" st-select-mode="single" ng-repeat="row in displayedCollection" ng-class="row.isSelected ? 'st-selected':''")
                        td.mid(style="width:32px")
                        td.mid {{row.name}}
                        td.mid {{row.status}}

         div.tab( id="dataTab" ng-class="{hidden:!isActiveTab('dataTab')}")
            div(ng-controller="dataTableController").scrollTable
               table.table.table-striped(st-table="displayedCollection" st-safe-src="rowCollection")
                  thead
                     tr
                        th.mid(st-sort="usr") User Name
                        th.mid(st-sort="cap") Caption
                        th.mid(st-sort="datetime") Date
                        th.mid(st-sort="lat") lat
                        th.mid(st-sort="lon") lon
                     tr.hidden
                        th
                           input(st-search="usr" placeholder="user filter" type="search").input-sm.form-control
                        th
                           input(st-search="cap" placeholder="caption filter" type="search").input-sm.form-control
                        th
                           input(st-search="date" placeholder="date filter" type="search").input-sm.form-control
                        th
                           input(st-search="lat" placeholder="lat filter" type="search").input-sm.form-control
                        th
                           input(st-search="lon" placeholder="lon filter" type="search").input-sm.form-control

                  tbody
                     tr(st-select-row="row" ng-click="rowClicked(row)" st-select-mode="single" ng-repeat="row in displayedCollection" ng-class="row.isSelected ? 'st-selected':''")
                        td.mid {{row.usr }}
                        td.mid {{row.cap}}
                        td.mid {{row.datetime | date}}
                        td.mid {{row.lat }}
                        td.mid {{row.lon}}





