div.scrollable.tabs(id="tabs" ng-style="style" ng-controller="tableTabsController")

   ul.nav.nav-tabs
      li(ng-repeat="tab in tabs" ng-class="{active:isActiveTab(tab.url)}" ng-click="onClickTab(tab)" user-log elementtype='TAB' loggroup='control_box' logtags='tab,{tab.title}')
         a {{tab.title}}

   div
      div.tab-content
         div.tab( id="jobsTab" ng-class="{hidden:!isActiveTab('jobsTab')}")
            .container-fluid
               div.row-jobs-table
                  div.column-buttons
                     button.btn.btn-default.btn-xs.glyphicon.glyphicon-refresh(ng-click="getJobStatus()" title="Refresh Job Status." user-log elementtype='BUTTON' loggroup='results_tab' logtags='jobs,refresh')
                     button.btn.btn-default.btn-xs.glyphicon.glyphicon-eye-open(ng-click="viewJobData()" title="Refresh Job Status." user-log elementtype='BUTTON' loggroup='results_tab' logtags='jobs,refresh')
                     button.btn.btn-default.btn-xs.glyphicon.glyphicon-trash(ng-click="deleteJob()" ng-class="{disabled:!isSelectedRowDeletable()}" title="Refresh Job Status." user-log elementtype='BUTTON' loggroup='results_tab' logtags='jobs,refresh')
                     button.btn.btn-default.btn-xs.glyphicon.glyphicon-download-alt(ng-click="getJobStatus()" title="Refresh Job Status." user-log elementtype='BUTTON' loggroup='results_tab' logtags='jobs,refresh')

                  div.column-table
                     table.table.table-striped(st-table="displayedCollection" st-safe-src="rowCollection")
                        thead
                        tr
                           th.mid(st-sort="jobname")
                              | Name
                           th.mid(st-sort="status") Status
                           th.mid(st-sort="queryType") Type
                           th.mid(st-sort="created") Submitted
                           th.mid(st-sort="username") Username

                        tbody
                        tr(st-select-row="row" ng-click="rowClicked(row)" st-select-mode="single" ng-repeat="row in displayedCollection" ng-class="row.isSelected ? 'st-selected':''")
                           td.mid {{row.name}}
                           td.mid {{row.status}}
                           td.mid {{row.queryType}}
                           td.mid {{row.created}}
                           td.mid {{row.username}}

         div.tab( id="dataTab" ng-class="{hidden:!isActiveTab('dataTab')}")
            div(ng-controller="dataTableController").scrollTable
               table.table.table-striped(st-table="displayedCollection" st-safe-src="rowCollection")
                  thead
                     tr
                        th.mid(st-sort="_source.user") User Name
                        th.mid(st-sort="_source.message") Message
                        th.mid(st-sort="_source.post_date") Date
                        th.mid(st-sort="_source.location.coordinates[0]") lat
                        th.mid(st-sort="_source.location.coordinates[1]") lon
                  tbody
                     tr(st-select-row="row" ng-click="rowClicked(row)" st-select-mode="single" ng-repeat="row in displayedCollection" ng-class="row.isSelected ? 'st-selected':''")
                        td.mid {{row._source.user }}
                        td.mid {{row._source.message}}
                        td.mid {{row._source.post_date | date}}
                        td.mid {{row._source.location.coordinates[0]}}
                        td.mid {{row._source.location.coordinates[1]}}





