.well(ng-controller='authController')
	.alert.alert-info(ng-hide='authenticationError')
		| Enter your username and password and click Log In to authenticate
	.alert.alert-danger(ng-show='authenticationError')
		| Authentication Failed ({{authenticationError.status}}). Try again.
	form(name='authForm' novalidate)
		.form-group
			label Username
			input.form-control(name='username' ng-model='username' required)
		.form-group
			label Password
			input.form-control(name='password' ng-model='password' required)
		.text-center
			button.btn.btn-primary(ng-click='authenticate(username,password)' ng-disabled='authForm.$invalid')
				| Log In

