html{
    height:100%;
}

body{
    background: #ffffff
}

.error{
    overflow:auto;
    padding: 10px;
    font-family: Roboto, Arial;
    font-size: 13px;
}
.container-full {
    margin: 0 auto;
    width: 100%;
}

#map-canvas {
    width: 100%;
    height:100%;
}
#boldLogo {
    position:absolute;
    top:40%;
    left:86%;
}

#details{
    padding: 0px 10px;
    overflow: auto;
}

.detailsImgDialog{
    display:block;
    margin:auto;
    max-width: 400px;
}
.detailsImg{
    display:block;
    margin:auto;
    max-height: 256px;
}

.scrollable-menu {
    height: auto;
    max-height: 100px;
    overflow:auto;
    overflow-x: hidden;
}

.inputItem{
    margin: 2px 2px 4px;
}

.container-fluid {
    margin:4px;
}
.container{
    margin:4px;
}

div[class^="col-"]{
    padding:4px;
}

.navbar-nav > li > a, .navbar-brand, .navbar-text {
    padding-top:5px !important; padding-bottom:0 !important;
    margin:0;
    height:auto; !important;
}
.navbar-button{
    padding-top:0 !important;
}
.navbar {min-height:30px !important;}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 250px;
    background-color: #f5f5f5;
}

.highlight{
    background-color: lightblue;
}


#controlBox {
    font-family: Roboto, Arial;
    font-size: 13px;
    background-color: white;
    overflow:auto;
}

#resultsBox {
    max-height:256px;
    overflow:auto;
    margin: 26px 0 0 0;
    font-family: Roboto, Arial;
    font-size: 13px;
    background-color: white;
}
#resultsText {
    position: relative;
}

.navbar {
    margin-bottom: 4px;
}

.tabs {
    margin-left: 4px;
    margin-right: 4px;
    width:100%;
}
.tab-links{
    margin-bottom: 0px;
}
.tab-links:after {
    display:block;
    clear:both;
    content:'';
}
.navbar-button{
    margin: auto;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.my-navbar-brand
{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
}
.tab-content {
    border-radius:3px;
}
.invis {
    display:none;
}

.nav-tabs > li > a {
    padding: 0px 4px;
    background: #DADADA;
    border-radius: 0;
}

/*---------------------------------
------------debug css--------------
-----------------------------------
div[class^="col-"]{
    border: 1px dotted green;
}

.row{
    border: 1px dotted red;
}*/