
@import url("table.css");

html{
    height:100%;
}

body{
}

.highlight{
    background-color: rgba(255, 106, 12, 0.69);
}

.error{
    overflow:auto;
    padding: 10px;
    font-family: Roboto, Arial;
    font-size: 13px;
}
.container-full {
    margin: 0 auto;
    width: 100%;
}

#map-canvas {
    position:absolute;
    width: 100%;
    height:100%;
    left:0px;
}
#boldLogo {
    position:absolute;
    top:40%;
    left:86%;
}

#details{
    padding: 0px 10px;
    overflow: auto;
}

.detailsImgDialog{
    display:block;
    margin:auto;
    max-width: 400px;
}
.detailsImg{
    display:block;
    margin:auto;
    max-height: 64px;
}
legend.scheduler-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    color:#808080;
    width:auto;
    padding:0;
    margin:0;
    border-bottom:none;
}
fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 1em  !important;
    margin: 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #808080;
    box-shadow:  0px 0px 0px 0px #808080;
}
.scrollable{
    overflow:auto;
}
.scrollable-menu {
    height: auto;
    max-height: 100px;
    overflow:auto;
    overflow-x: hidden;
}

.inputItem{
    margin: 2px 2px 4px;
}

.container-fluid {
    margin:4px;
}
.container{
    margin:4px;
}

div[class^="col-"]{
    padding:4px;
}

.navbar-nav > li > a, .navbar-brand, .navbar-text {
    padding-top:5px !important; padding-bottom:0 !important;
    margin:0;
    height:auto; !important;
}
.navbar-button{
    padding-top:0 !important;
}
.navbar {min-height:30px !important;}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 250px;
}

#controlBox {
    font-family: Roboto, Arial;
    font-size: 13px;
    overflow:auto;
}

.scrollTable {
    overflow:auto;
    font-family: Roboto, Arial;
    font-size: 13px;
}
#resultsText {
    position: relative;
}

.navbar {
    margin-bottom: 4px;
}

.tabs {
    width:100%;
}
.tab-links{
    margin-bottom: 0px;
}
.tab-links:after {
    display:block;
    clear:both;
    content:'';
}
.navbar-button{
    margin: auto;
}

.navbar-right{
    margin-right: 0;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.my-navbar-brand
{
    padding:0;
    position: absolute;
    width: 100%;
    text-align: center;
}
.tab-content {
    border-radius:3px;
}
.invis {
    display:none;
}

.row-jobs-table{
    width: 100%;
    clear:both;
}
.column-buttons{
    width:28px;
    float:left;
}

.column-table{
    margin-left:28px;
}

.nav-tabs > li > a {
    padding: 0px 4px;
    border-radius: 0;
}

span.btn-lg{
    padding-left: 16px;
    padding-right: 16px;
}



/*---------------------------------
------------debug css--------------
-----------------------------------
div[class^="col-"]{
    border: 1px dotted green;
}

.row{
    border: 1px dotted red;
}*/