extends layout

block content
  .container
    .row
      .col-md-3
      .col-md-6
        h1= title
        .well
          form(name='loginForm' ng-controller='loginController' ng-submit='loginForm.$valid && authenticate()' novalidate)
            .alert.alert-danger(ng-show='authenticationError').
              Unable to log in. Try again or
              #[a(href='/login/signup') click here]
              to create an account.
            .form-group
              label Username
              input.form-control(ng-model='data.username' required)
            .form-group
              label Password
              input.form-control(ng-model='data.password' type='password' required)
            button.btn.btn-lg.btn-primary(ng-class="{disabled : loginForm.$invalid}")
              | Sign in
            .checkbox
              label
                input(type='checkbox', checked='checked', ng-model='data.rememberMe')
                | Remember Me
            .create-account.
              Don't have an account?
              #[a(href='/login/signup') Create an account here]
      .col-md-3

block scripts
  script(src='/javascripts/controllers/loginController.js')
