extends layout

block content
  .container
    .row
      .col-md-3
      .col-md-6
        h1= title
        .well
          form(name='signupForm' ng-controller='signupController' novalidate ng-submit='signupForm.$valid && createAccount()')
            .alert.alert-info.
              To sign up, fill in the required (**) fields below.
              Already have an account? #[a(href='/login') Login here]
            .alert.alert-danger(ng-show='authenticationError').
              {{ authenticationError }}
            .form-group
              label Name **
              input.form-control(ng-model='data.fullname' required)
            .form-group
              label Email **
              input.form-control(ng-model='data.email' required)
            .form-group
              label Username **
              input.form-control(ng-model='data.username' required)
            .form-group
              label Password **
              input.form-control(type='password' ng-model='data.password' required)
            .form-group
              button.btn.btn-lg.btn-primary(ng-class="{disabled : signupForm.$invalid}")
                | Sign Up
              a.btn.btn-link(ng-click='cancelSignup()')
                | Cancel

block scripts
  script(src='/javascripts/controllers/signupController.js')
