{
    "spark": {
        "SPARK_SUBMIT_PATH" : "",
        "SPARK_MASTER" : "local",
        "EXECUTOR_MEMORY": "4g",
        "DRIVER_MEMORY": "2g",
        "TOTAL_EXECUTOR_CORES": "4"
    },

    "datasets": {
        "Example 1 " : { "path": "", "type": 2},
    },

    "deploy-mode" : "local"
    "s3-bucket" : ""  USE ONLY FOR deploy-mode "aws-emr" otherwise delete from conf

}